<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>The Art of Engineering</title>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'MultiUpload' %>
    <%= stylesheet_link_tag 'lightbox' %>
            
    <%= javascript_include_tag 'controls' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "scriptaculous/lib/prototype.js" %>
    <%= javascript_include_tag "scriptaculous/src/scriptaculous.js" %>
    <%= javascript_include_tag "lightbox/lightbox.js" %>
    <%= javascript_include_tag 'comboBox.js' %>
    <%= javascript_include_tag 'multi_selector.js' %>
    
  </head>
  <body>
      	<div id="Main">
		<!-- <div id="BorderLeft" style="float: left; width: 68px; ">  
			<%= image_tag ( "block-test.png ") %>
		</div> -->
		<div id="InnerMain" >
			<div id="Header" style="
				/*background-image: url('/images/Header<%= ((rand(10) % 5) + 1).to_s %>.jpg');*/
				background-image: url('/images/Header1.png');
			"></div>
			<div id="Sidebar">
				<h3><%= link_to "Bio", :controller => "Main", :action => "bio" %></h3>
				<h3><a href="/Artwork/">Art</a></h3>
				<% if @sidebar == "Artwork" %>
					<% for gallery in @galleries %>
						<span>» <%= link_to gallery.sTitle, :action => "show", :params => {:id => gallery.id} %></span><br/>
					<% end %>				
				<% end %>
				<h3><a href="/Engineering/">Engineering</a></h3>
				<% if @sidebar == "Engineering" %>
					<% for gallery in @galleries %>
						<span>» <a href="#<%= gallery.sTitle.to_s.gsub(/ /,'') + "_" + gallery.id.to_s %>"><%= gallery.sTitle %></a></span><br/>
					<% end %>
				<% end %>
				<h3><%= link_to "Contact", :controller => "Main", :action => "contact" %></h3>
			</div> <!-- end Sidebar -->
			<div id="Title">
				<a href="/">The Art of Engineering</a>
				<p>Computers, Art, and Everything in Between...</p>
			</div> <!-- end Title -->

			<div id="Content">
				
					<%= yield  %>

		  	</div> <!-- end Content -->
		  	<div class="divclear"></div>
		  	
  		</div> <!-- end InnerMain-->
  		<div id="Footer">
		  		<% if logged_in? %>
			  		<p><span>[<%= link_to 'Logout', :controller => "account", :action => "logout" %>] | [<a href="">xhtml</a>] | [<a href="">css</a>]</span></p>
			  	<% else %>
				  	<p><span>[<a href="http://validator.w3.org/check?uri=referer">xhtml</a>] | [<a href="http://jigsaw.w3.org/css-validator/validator?uri=www.artofengineering.net">css</a>]</span></p>
		  		<% end %>
		  	</div> <!-- end Footer -->
  	</div> <!-- end Main -->
  </body>
</html>
